<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">

        <select class="form-control">
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
            <option>option 4</option>
            <option>option 5</option>
        </select>

    </form>
    <!-- /.search form -->
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
        {#<li class="header">HEADER</li>#}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder-o"></i> <span>Dossier</span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-folder-o"></i> Multimedia</a></li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-folder-o"></i> Factures
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-file-pdf-o"></i> Novembre</a></li>
                        <li class="treeview">
                            <a href="#"><i class="fa fa-folder-o"></i> Décembre
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-file-pdf-o"></i> Facture 1</a></li>
                                <li><a href="#"><i class="fa fa-file-pdf-o"></i> FActure2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-folder-o"></i> Document</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder-o"></i> <span>Comptabilité</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cogs"></i> <span>Administration</span>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ path('admin_headerfooter_list') }}"><i class="fa fa-envelope-o"></i>Alerts mail</a></li>
            </ul>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->