<div class="col-md-3 right-sidebar">
    <div class="box box-default box-solid info">
        <div class="box-header with-border">
            <h3 class="box-title">Info</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="panel-default">
                <div class="info-panel col-md-2 no-padding">
                    <div class="pull-left image">
                        <img src="{{ asset('assets/css/dist/img/user2-160x160.jpg')}}" class="img-circle" alt="User Image"/>
                    </div>
                </div>
                <div class="info col-md-10 no-padding">
                    <p><span>Alexander Pierce</span> : Proprietaire </p>
                    <p>Ajouté le : 28/10/2015 à 16:00 </p>
                    <p>5,13 Mo, 5 Fichier(s), 1 Dossier(s)</p>
                </div>
            </div>
            <div class="panel-default">
                <div class="info-panel col-md-2 no-padding">
                    <div class="pull-left image">
                        <i class="fa  fa-info-circle panel-title-img"></i>
                    </div>
                </div>
                <div class="info col-md-10 no-padding">
                    <div class="panel-title">Actualité <i class="fa  fa-plus-circle"></i></div>
                    <ul>
                        <li><p><span>Alexander Pierce</span> : Proprietaire </p>
                            <p>Ajouté le : 28/10/2015 à 16:00 </p>
                        </li>
                        <li><p><span>Alexander Pierce</span> : Proprietaire </p>
                            <p>Ajouté le : 28/10/2015 à 16:00 </p>
                        </li>
                        <li><p><span>Alexander Pierce</span> : Proprietaire </p>
                            <p>Ajouté le : 28/10/2015 à 16:00 </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel-default">
                <div class="info-panel col-md-2 no-padding">
                    <div class="pull-left image">
                        <i class="fa fa-cog panel-title-img"></i>
                    </div>
                </div>
                <div class="info col-md-10 no-padding">
                    <div class="panel-title">Paramètres </div>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <div class="box box-default box-solid uploadable">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-download "></i>&nbsp;&nbsp;&nbsp;&nbsp;Importer des fichiers</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="panel-default">
                <div class="info col-md-12 no-padding text-center ">
                    <div >
                        <i class="fa fa-cloud-upload panel-title-img"></i>
                        <p>Glisser & déposer des fichiers</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Notification par email</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="panel-default">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Importation de fichier
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Nouveau commentaire dans actualité
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Description</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="panel-default">
                <input class="form-control" placeholder="Ajouter une description" type="text">
            </div>

        </div>
        <!-- /.box-body -->
    </div>
</div>
