# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: 3e3748b7cec007402e22f70f6615274f204170c6

    grant_type: password
    host_preprod: https://preprod-wedropv3.dropcloud.fr
    host_front: front-wedropv3.dropcloud.fr
    host_permalink: https://shorturl.dropcloud.fr
    script_name : envoiSms
    send_sms_description : Envoi Sms Wedrop
    ovh_app_key : rU2ZEA8XTfJtWMJU
    ovh_app_secret : 12JTGqS2atMfrGhMmgzcLpR0w7vvBzLL
    ovh_consumer_key : JIlnD3B49XogVylDaPVXl2x20Phwb1w0

    api_key_send_grid : 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

    #ovh opencloud configuration
    ovh_openstack:
        auth_url: 'https://auth.cloud.ovh.net/v2.0/'
        tenant_id: '505a09b2c3834d26a6857b7bcb7512b1'
        tenant_name: '0293582507792328'
        username: 'D2s83YSqbNZF'
        password: '8hZ4wKNYvvmdHfptfxtaEnnEdYRzJ8kp'
        region_name: 'GRA1'